// Colores
$color-fondo-navbar: #220901; 
$color-fondo-principal: #621708;
$color-amarillo-claro: #fffbeb;
$color-amarillo: #fef3c7;

// Tamaños
$padding-navbar: 1.25rem; // py-5 ≈ 1.25rem
$width-navbar-container: 60%; // w-3/5

// Fuentes
$fuente-principal: "Nothing You Could Do", 'cursive';

// Tamaños de texto
$texto-hero-title: 6rem;

// Alturas / spacing
$altura-hero: 20rem;
$margin-texto-base: 0.5rem;

// Modos
$modo-oscuro: false;


// Textos
$fuente-navbar: 'Nothing', sans-serif;
$font-size-navbar: 1rem;
$font-size-navbar-desktop: 1.125rem;
$font-size-navbar-large: 1.25rem;